
<div class="container">
    <div class="row">
      <div class="col-md-6">
       <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="headingOne">
            <h3 class="panel-title">Twitter</h3>
            <div class="pull-right">
              <span type="button" data-toggle="collapse" data-target="#TwitterAccounts" aria-expanded="false" aria-controls="collapseExample" title="Press to add Twitter accounts">

                <i class="glyphicon glyphicon-plus-sign"></i>
              </span>
            </div>
          </div>

          <div class="collapse" id="TwitterAccounts">
            <form ng-submit="addSource('accounts','#account')" data-toggle="validator" role="form">
              <div class="form-group">
                <div class="input-group">
                  <input type="text"  class="form-control" id="account" placeholder="Insert Twitter account here!" required>
                  <div class="input-group-btn"> 
                    <button type="button" class="btn btn-default" onClick="closeCollapse('#TwitterAccounts', '#account')">Cancel</button>
                    <button type="submit" class="btn btn-success">Add</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          
          <table class="table table-hover" id="task-table">
            <thead>
              <tr>
              
                <th>Accounts</th>
                <th>Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="accounts in posts.accounts">
               
                <td>{{accounts}}</td>
                <td><input type="button" value="Remove" class="btn btn-primary" ng-click="deleteSource('accounts',accounts)" /></td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
           

       <div class="col-md-6">
       <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="headingThree">
            <h3 class="panel-title">Reddit</h3>
            <div class="pull-right">
              <span type="button" data-toggle="collapse" data-target="#RedditSubs" aria-expanded="false" aria-controls="collapseExample">
                <i class="glyphicon glyphicon-plus-sign"></i>
              </span>
            </div>
          </div>
           <div class="collapse" id="RedditSubs">
            <form ng-submit="addSource('subreddits','#subreddit')" 
                data-toggle="validator"
                 role="form">
             <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="subreddit" placeholder="Insert SubReddit here!" data-source="accounts" required>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default" onClick="closeCollapse('#RedditSubs','#subreddit')">Cancel</button>
                  <button type="submit" class="btn btn-success">Add</button>
                </div>
               </div>
              </div>
            </form>
          </div>
          <div class="panel-body">
            <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
          </div>
          <table class="table table-hover" id="task-table">
            <thead>
              <tr>
              
                <th>Subreddits</th>
                <th>Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="subs in posts.reddit.subreddits">
               
                <td>{{subs}}</td>
                <td><input type="button" value="Remove" class="btn btn-primary" ng-click="deleteSource('subreddits',subs)" /></td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
</div>


<!-- reddit -->
<div class="container">
    <div class="row">
     <!--  <div class="col-md-6">
       <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="headingThree">
            <h3 class="panel-title">Reddit</h3>
            <div class="pull-right">
              <span type="button" data-toggle="collapse" data-target="#RedditSubs" aria-expanded="false" aria-controls="collapseExample">
                <i class="glyphicon glyphicon-plus-sign"></i>
              </span>
            </div>
          </div>
           <div class="collapse" id="RedditSubs">
            <form ng-submit="addSource('subreddits','#subreddit')" 
                data-toggle="validator"
                 role="form">
             <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="subreddit" placeholder="Insert SubReddit here!" data-source="accounts" required>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default" onClick="closeCollapse('#RedditSubs','#subreddit')">Cancel</button>
                  <button type="submit" class="btn btn-success">Add</button>
                </div>
               </div>
              </div>
            </form>
          </div>
          <div class="panel-body">
            <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
          </div>
          <table class="table table-hover" id="task-table">
            <thead>
              <tr>
              
                <th>Subreddits</th>
                <th>Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="subs in posts.reddit.subreddits">
               
                <td>{{subs}}</td>
                <td><input type="button" value="Remove" class="btn btn-primary" ng-click="deleteSource('subreddits',subs)" /></td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->

      <div class="col-md-6">
       <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="headingFour">
            <h3 class="panel-title">Reddit</h3>
            <div class="pull-right">
              <span type="button" data-toggle="collapse" data-target="#RedditQueries" aria-expanded="false" aria-controls="collapseExample">
                <i class="glyphicon glyphicon-plus-sign"></i>
              </span>
            </div>
          </div>
           <div class="collapse" id="RedditQueries">
            <form ng-submit="addSource('queries','#query')" 
               data-toggle="validator" 
               role="form">
             <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="query" placeholder="Insert Reddit query here!" data-source="accounts" required>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default" onClick="closeCollapse('#RedditQueries','#query')">Cancel</button>
                  <button type="submit" class="btn btn-success">Add</button>
                </div>
              </div>
             </div>
            </form>
          </div>
          <div class="panel-body">
            <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
          </div>
          <table class="table table-hover" id="task-table">
            <thead>
              <tr>
              
                <th>Queries</th>
                <th>Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="query in posts.reddit.queries">
               
                <td>{{query}}</td>
                <td><input type="button" value="Remove" class="btn btn-primary" ng-click="deleteSource('queries',query)"/></td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
       <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="headingFive">
            <h3 class="panel-title">RSS</h3>
            <div class="pull-right">
              <span type="button" data-toggle="collapse" data-target="#RSSlinks" aria-expanded="false" aria-controls="collapseExample">
                <i class="glyphicon glyphicon-plus-sign"></i>
              </span>
            </div>
          </div>
           <div class="collapse" id="RSSlinks">
            <form ng-submit="addSource('rss','#link')" 
                data-toggle="validator" 
                role="form">
             <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="link" placeholder="Insert RSS links here!" data-source="accounts" required>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default" onClick="closeCollapse('#RSSlinks','#link')">Cancel</button>
                  <button type="submit" class="btn btn-success">Add</button>
                </div>
               </div>
              </div>
            </form>
          </div>
          <div class="panel-body">
            <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
          </div>
          <table class="table table-hover" id="task-table">
            <thead>
              <tr>
              
                <th>Links</th>
                <th>Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="rssItem in posts.rss">
               
                <td>{{rssItem}}</td> 
                <td><input type="button" value="Delete" class="btn btn-primary" ng-click="deleteSource('rss',rssItem)"/></td>
                
              </tr>
          
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<!-- rss -->
<!-- <div class="container">
    <div class="row"> -->
      <!-- <div class="col-md-12">
       <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="headingFive">
            <h3 class="panel-title">RSS</h3>
            <div class="pull-right">
              <span type="button" data-toggle="collapse" data-target="#RSSlinks" aria-expanded="false" aria-controls="collapseExample">
                <i class="glyphicon glyphicon-plus-sign"></i>
              </span>
            </div>
          </div>
           <div class="collapse" id="RSSlinks">
            <form ng-submit="addSource('rss','#link')" 
                data-toggle="validator" 
                role="form">
             <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="link" placeholder="Insert RSS links here!" data-source="accounts" required>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default" onClick="closeCollapse('#RSSlinks','#link')">Cancel</button>
                  <button type="submit" class="btn btn-success">Add</button>
                </div>
               </div>
              </div>
            </form>
          </div>
          <div class="panel-body">
            <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
          </div>
          <table class="table table-hover" id="task-table">
            <thead>
              <tr>
              
                <th>Links</th>
                <th>Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="rssItem in posts.rss">
               
                <td>{{rssItem}}</td> 
                <td><input type="button" value="Delete" class="btn btn-primary" ng-click="deleteSource('rss',rssItem)"/></td>
                
              </tr>
          
            </tbody>
          </table>
        </div>
      </div> -->
 <!--    </div>
</div> -->

