<!-- Main navigation -->
<header class="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <div id="inner-header" class="wrap container cf">

        <!-- logo -->
        <h1 id="logo" class="text-hide h1 pull-left" itemscope itemtype="http://schema.org/Organization">
            <a href="#/" rel="nofollow"><img ng-src="/images/rx-logo-reversed-with-text.png" alt=""></a>
        </h1>

        <!-- hamburger icon -->


        <!-- nav -->
    </div>
</header>

<div class="responsive-wrapper">
    <ul class="cf responsive-nav option-set">
      <li><a href="#/">Feedmix</a></li>
      <li><a href="#/feedmix-large">Wide Screen</a></li>
    </ul>
</div>
