/* Default tags and Bootstrap classes */


body{

  margin-left: 0px;
  background-color: #F0F8FF;
  font-family: "Open Sans", sans-serif;
}


.card{
  margin-bottom: 5px;
  //box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.1);
 // margin:10px;
 // margin-top: 25px;
  //padding:10px;
  //margin-left: 5px;

}

.card .large {
  height: 40vh;
  //width: 220px;
  margin-right: 30px;
  //background: white;
  color: grey;
  //
}

p.source {

}

@media screen and (max-width: 991px) {
  .card:nth-child(odd) {
    background: orange;
    padding-left: 0;
  }
  .card:nth-child(even) {
    background: darkorange;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .card:nth-child(odd), .card:nth-child(even) {
    background: coral;
    padding: 0;
  }
}





.img-holder {
  background-size: cover;
  background-position: center;
  position: absolute;
  left:0;
  top:0;
  bottom: 0;
  right: 0;
  width: 100%;
  //height: 100px;
}



.flip
{
  -webkit-perspective: 800;
  perspective: 800;

 position: relative;
 text-align: left;
}

.flip .card.flipped
{
 -webkit-transform: rotatey(360deg);
 transform: rotatey(360deg);
}

.flip .card
{

  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;

}

.flip .card .face
{

  -webkit-backface-visibility: hidden ;
  backface-visibility: hidden ;
  z-index: 2;

}

.flip .card .front
{
  position: absolute;
  width: 100%;
  z-index: 1;

}

.inner
{
  margin:0px !important;
}

.inner {
  position: relative;
}


.icon {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    background: rgba(0,0,0,.1);
    //padding: 10px;
    img {
      height: 26px;
      width: 30px;
      padding-left: 8px;
      padding-top: 5px;
      float: left;


    }
    .date{
      float: right;
      padding-right: 5px;
      padding-top: 5px;
      color: white;
      font-weight: bold;
      font-size: 14px;

    }
}

* {
  border: 0px solid black;
  box-shadow: 0 0 0 black;
  outline: 0 solid black;
}







.inner img {
  /*  object-fit: none;
    object-position: center;
    height: 100px;
    width: 100px;*/
}

.large
{
  margin:0px !important;
}
.large {
  position: relative;
}

.large .icon {
  //position: absolute;
  //top: 20px;
  //left:20px;
}

.large img {
  /*  object-fit: none;
    object-position: center;
    height: 100px;
    width: 100px;*/
}

.des {
  text-align: left;
  color: #484848 ;
}

.pub
{
  background-color: rgba(255, 255, 255, .7);
  text-align: right;
  color:#6f7376;
  position: relative;

  small{

  }

}



.title {
  text-align: left;
  position: absolute;
  background-color: rgba(0, 0, 0, .7);
  left:0;
  bottom: 0;
  right: 0;
  padding: 5px;
  color: white;
 // font-family: Montserrat;
  font-weight: 600;
  font-size: 2.4em;
  line-height: 1.2em;
  word-wrap: break-word;
  a {
    color: black;
    font-family: "Open Sans";
    font-weight: 600;
    //position: relative;
    //bottom:58px;


    //
  }
}

    .row{
      margin-top:40px;
      padding: 0 10px;
  }
  .clickable{
      cursor: pointer;   
  }

  .panel-heading div {
    margin-top: -18px;
    font-size: 15px;
  }
  .panel-heading div span{
    margin-left:5px;
  }
  .panel-body{
    display: none;
  }


.btn-primary{
  width: 7em;  
  height: 3em;
  font-size:10px;
}


p.source{

  color:#BFB4A0;
  position: absolute;
  bottom: 0px;
}

#imageWrapper { position: relative;  } /* height is for display purposes only */
#bottomImage { position: absolute; bottom: -1; left:1; }

#logo {
  position: left;
  height: 100px;
  background-color: black;
  //width: 100px;
  img {
    width: 100px;
    height:auto;
    margin-top: 10px;

  }
}

.header{


}
#inner-header {
  width: 100%;
  padding: 0 0 0 20px;
  background-color: black;
}

.div-wrapper {
  position: relative;
  height: 20px;
  width: 20px;
}

.div-wrapper img {
  position: absolute;
  left: 0;
  bottom: 0;
}


p.des:hover{
  text-decoration:none;

}

div.post {

 // padding: 5px;
  //background: white;
 // box-shadow: 4px 4px 4px #888888;


}

h3:hover{
  //background: white;
}

.title:hover{
  text-decoration: none;
}

h3.title a {


  color:black;

}


h3.title a:hover {


  text-decoration: none;

}

.category {
  text-align: left;
  color: #980000;
}

.lead { padding: 40px 0; }

.well {
  padding: 0;
  border: none;
}


/* Grid */

#posts { margin: 30px auto 0; }
.post {
  margin: 0 0 5px;
  text-align: left;
  width: 100%;
}
.post img { padding: 0 15px; width: 100%; height:200px; box-shadow: none;}

#grid.container .post img { padding: 0; }


/* Medium devices */

@media (min-width: 768px) {
  #grid > #posts .post { width: 335px; }
  #grid > #posts .post.cs2 { width: 100%; }
  .post img { padding: 0; }
}



/* Medium devices */

@media (min-width: 992px) {
  #grid > #posts .post { width: 445px; }
  #grid > #posts .post.cs2 { width: 100%; }
}



/* Large devices */

@media (min-width: 1200px) {
  #grid > #posts .post { width: 346px; }
  #grid > #posts .post.cs2 { width: 742px; }
}



/* Large devices min-width (1200px) + a .post margin (50px) * 2 (100px) = 1300px */
/* 1300px gives me the clearance I need to keep the margins of the entire #grid (the
bleed if you will) the same width as the .post margins posts (50px). Basically I'm
being really picky about whitespace. If you don't care, no problem, just delete this.
Can this be done with Masonry options? */

@media (min-width: 1300px) {
  #grid {
    left: -50px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
  }
  #grid.container {
    left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

div[class^="col-"] {
  padding-left: 2px;
  padding-right: 2px;
}
